/* ANTD DATE PICKER */
.ant-picker-header button {
  @apply hover:!tw-bg-transparent;
}

/* SWITCH BG COLOR */
.ant-switch-checked {
  @apply !tw-bg-green-500;
}
.ant-switch-checked:hover {
  @apply !tw-bg-green-500;
}

.ant-switch:not(.ant-switch-checked) {
  @apply !tw-bg-gray-300;
}

.lesson_history .ant-select-selector {
  background-color: transparent !important;
}

.list_major .ant-collapse-content {
  @apply dark:!tw-bg-transparent;
}
